<div *ngIf="!isSavUser" class="chat-main">
  <h2 class="chat-header">Live Chat SAV</h2>
  <div class="chat-container" >
    <div class="message-container" >
      <div class="scrollContainer" > 
  <div *ngFor="let message of messages" [ngClass]="{'left-message': message.senderUsername === 'sav', 'right-message': message.senderUsername !== 'sav'}">
    <strong>{{ message.senderUsername }}</strong>: {{ message.messageText }}
  </div>
</div>
  <div>
    <textarea [(ngModel)]="newMessage" placeholder="Type your message..." class="message-input"></textarea>
    <button (click)="sendMessage('sav')" [disabled]="newMessage.trim() === ''" class="send-button">Send</button>
  </div>
</div>

</div>
</div>

<div *ngIf="isSavUser" class="chat-main">
  <h2 class="chat-header">Live Chat SAV</h2>
<div class="chat-container" >
  <div *ngFor="let conversation of conversations | keyvalue" class="message-container" >
    <h2 class="chat-title">Conversation : {{conversation.key}}</h2>

    <div class="scrollContainer" > 
    <div *ngFor="let message of conversation.value" [ngClass]="{'left-message': message.senderUsername !== 'sav', 'right-message': message.senderUsername === 'sav'}">
      <strong>{{ message.senderUsername }}</strong>: {{ message.messageText }}
    </div>
  </div>
    <div>
      <textarea [(ngModel)]="newMessage" placeholder="Type your message..." class="message-input"></textarea>
      <button (click)="sendMessage(conversation.key)" [disabled]="newMessage.trim() === ''" class="send-button">Send</button>
    </div>
  </div>
</div>
</div>



