<div *ngIf="!isSavUser">
    <h2>Live Chat SAV</h2>

    <div *ngFor="let message of messages">
      <strong>{{ message.senderUsername }}</strong>: {{ message.messageText }}
    </div>
  
    <div>
      <textarea [(ngModel)]="newMessage" placeholder="Type your message..."></textarea>
      <button (click)="sendMessage('sav')">Send</button>
</div>
</div>


<div *ngIf="isSavUser">
  <h2>Live Chat SAV</h2>
  
    <div *ngFor="let conversation of conversations | keyvalue">

      
    <div *ngFor="let message of conversation.value">
      <strong>{{ message.senderUsername }}</strong>: {{ message.messageText }}
    </div>

    <div>
      <textarea [(ngModel)]="newMessage" placeholder="Type your message..."></textarea>
      <button (click)="sendMessage(conversation.key)">Send</button>
    </div>
  </div>



</div>



